@*@model Vidly.ViewModels.MovieViewModel*@

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="/Movies/NewMovie">
        <button class="btn btn-primary btn-lg">New</button>
    </a>
</p>

@*@if (Model.Movies.Count() == 0)
    {
        <h2>No Movies</h2>
    }
    else
    {*@
<table class="table table-striped table-hover table-bordered" id="movies">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>

    </thead>
    <tbody>
        @*@foreach (var i in Model.Movies)
            {
                <tr>
                    <td>
                        <a href="/Movies/EditMovie/@i.Id">@i.Name</a>
                    </td>
                    <td>@i.Genre.Name</td>
                </tr>
            }*@
    </tbody>
</table>
@*}*@
@section scripts
{
    <script>
        $(document).ready(() => {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='customers/EditMovie/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {               

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                        url: "api/movies/" + button.attr("data-movie-id"),
                        method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            
                        }
                    });
                    }
                });                
                
            });
        
         });

    </script>
}
